*
!app/
!bootstrap/
!config/
!database/
!lang/
!node_modules/
!public/
!resources/
!routes/
!storage/
!tests/
!vendor/
!.env.production.encrypted
!.env.staging.encrypted
!.npmrc
!.phpactor.json
!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!phpunit.xml
!pint.json
!postcss.config.js
!tailwind.config.js
!vite.config.js
